@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,700&display=swap');
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: 'Josefin Sans', sans-serif;}
    canvas { display: block;}
}

select {
    position: absolute;
    right: 3%;
    top: 4%;
    z-inex: 999999999999999999999999999;
}

canvas {
    display: block;
}

div {
    padding: 0.5rem 3rem;
}

h1, p {
    padding: 0.25rem;
}
/*una pequeña trampilla para index 5 >:3; */
middletext {
        position: absolute;
        margin: auto;
            text-align:center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 99999;
}